/*----------------- Navbar ------------------*/

.navbar-nav {
    width: 100%;
    justify-content: space-between;
}

.navbar a {
    color: #F9F5F4;
}

.navbar-toggler {
    border: none;
    width: 10vw;
    padding: 0;
}

#logo {
    margin-right: 2rem !important;
}

#navbar-row {
    width: 100%;
    justify-content: space-between;
}

.navbar-toggler-icon {
    background-image: url("imgs/Icons/hamburgerMenu.svg");
}

/*----------------- Header ------------------*/

.headerRe {
    background-image: url("imgs/HomePage/HeaderHomeMobile.png");
    background-size: contain;
    height: 87vw;
}

.title {
    position: relative;
    top: 26.6vw;
}

/*----------------- Button back to top ------------------*/
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

/*----------------- Main section ------------------*/

.mission-homepage, .sponsor-homepage {
    /*esprimibile con classe mt*/
    margin: 20vw auto;
} 

.mission-homepage>div {
    margin: 3vw 0;
}

.app-homepage {
    padding: 20vw 1.5rem;
}

.custom-footer img {
    padding: 0.8vw;
}

/*---------------------------- ------------- ---------------------------------------------------------------------------------------------*/
/*---------------------------- Breakpoint-md ---------------------------------------------------------------------------------------------*/
/*---------------------------- ------------- ---------------------------------------------------------------------------------------------*/

@media (min-width: 768px) {
    
    .headerRe {
        background-image: url("imgs/HomePage/HeaderHomeDesktop.png");
        background-size: contain;
        /*ho specificato l'altezza perché altrimenti il background si ripete*/
        height: 64vw;
    }

    .title {
        position: relative;
        width: 55%;
        left: 22vw;
        top: 17.5vw;
    }
    .mission-homepage, .sponsor-homepage {
        margin: 7vw auto;
    }

    .mission-homepage>div {
        margin: 3vw 0;
    }

    .numGroups-homepage {
        margin: 7vw 0!important;
    }

    .numGroups-homepage div{
        width: 17vw;
    }

    .app-homepage {
        padding: 7vw 1.5rem;
    }
}