/*----------------- Navbar ------------------*/

.navbar-nav {
    width: 100%;
    justify-content: space-between;
}

.navbar a {
    color: #F9F5F4;
}

.navbar-toggler {
    border: none;
    width: 10vw;
    padding: 0;
}

#logo {
    margin-right: 2rem !important;
}

#navbar-row {
    width: 100%;
    justify-content: space-between;
}

.navbar-toggler-icon {
    background-image: url("imgs/Icons/hamburgerMenu.svg");
}

/*----------------- HOME ------------------*/

/*----------------- Header ------------------*/

.headerRe {
    background-image: url("imgs/HomePage/HeaderHomeMobile.png");
    background-size: contain;
    height: 86.8vw;
}

.title {
    position: relative;
    top: 26.6vw;
}

/*----------------- Button back to top ------------------*/
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

/*----------------- Main section ------------------*/

.mission-homepage,
.sponsor-homepage, 
.ciPiace-App {
    /*esprimibile con classe mt*/
    margin: 20vw auto;
}

.mission-homepage>div {
    margin: 3vw 0;
}

.app-homepage, .app-privati, .app-aziende {
    padding: 20vw 1.5rem;
}

.custom-footer img {
    padding: 0.8vw;
}

/*----------------- APP ------------------*/
/*----------------- Header ------------------*/
.headerApp {
    background-image: url("imgs/App/HeaderAppMobile.png");
    background-size: contain;
    height: 89.7vw;
}

.titleApp {
    position: relative;
    top: 3vw;
    width: 70%;
}

/*----------------- Main ------------------*/
.borderTopApp {
    background-image: url(imgs/App/BorderTopMob.png);
    height: 20vw;
    background-size: cover;
}

.borderBottomApp {
    background-image: url(imgs/App/BorderBottomMobpng.png);
    height: 27vw;
    background-size: cover;
}

.bg-privati {
    background-image: url(imgs/App/backgroundAppPrivatiMobile.png);
    background-size: cover;
}



/*---------------------------- ------------- ---------------------------------------------------------------------------------------------*/
/*---------------------------- Breakpoint-md ---------------------------------------------------------------------------------------------*/
/*---------------------------- ------------- ---------------------------------------------------------------------------------------------*/

@media (min-width: 768px) {

    /*----------------- HOME ------------------*/

    .headerRe {
        background-image: url("imgs/HomePage/HeaderHomeDesktop.png");
        background-size: contain;
        /*ho specificato l'altezza perché altrimenti il background si ripete*/
        height: 63.3vw;
    }

    .title {
        position: relative;
        width: 55%;
        left: 22vw;
        top: 17.5vw;
    }

    .mission-homepage,
    .sponsor-homepage,
    .ciPiace-App {
        margin: 7vw auto;
    }

    .mission-homepage>div {
        margin: 3vw 0;
    }

    .numGroups-homepage {
        margin: 7vw 0 !important;
    }

    .numGroups-homepage div {
        width: 17vw;
    }

    .app-homepage, .app-privati, .app-aziende {
        padding: 7vw 1.5rem;
    }

    /*----------------- APP ------------------*/
    /*----------------- Header ------------------*/

    .headerApp {
        background-image: url("imgs/App/HeaderAppDesktop2.png");
        background-size: contain;
        /*ho specificato l'altezza perché altrimenti il background si ripete*/
        height: 61vw;

    }

    .titleApp {
        position: relative;
        width: 44vw;
        top: 10vw
    }

    .borderTopApp {
        background-image: url(imgs/App/GreenBorderTop.png);
        height: 20vw;
        background-size: cover;
    }
    
    .borderBottomApp {
        background-image: url(imgs/App/BorderBottom.png);
        height: 27vw;
        background-size: cover;
    }
}

/* Purtroppo ho dovuto barare e mettere un nuovlo limite per far si che non faccia schifo la disposizione dei bottoni nell'app*/

@media (max-width: 382px) {
    .AppSmallScreen {
        flex-direction: column;
        align-items: center;
    }

    .AppSmallScreen div {
        margin: 2vw 0;
    }
}